<!DOCTYPE html>
<html lang="en" ng-app="myModule">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>

  </head>

  <body ng-controller="mainController">
    <header>

    </header>
    <div>
        <button>Start</button>
        <p> {{ currentWord.word }} </p>
        <p> {{ currentWord.pos }} </p>
        <ul ng-repeat="x in usedAnswerArray">
          <li> {{x}} </li>
        </ul>
        <p> {{usedAnswerArray}} </p>
        <button ng-click="nextWord()">Next</button>
        <button ng-click="getAnswers()">Answers</button>

    </div>
  </body>
</html>